html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
}

.dark {
   color: #DADADA;
   background-color: #1c2020;
   min-height: 100%;
}

.light {
  background-color:  rgba(0, 0, 0, 0.1);
  color: #1c2020;
  min-height: 100%;
}

.bg-light {
   background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark {
   background-color:rgb(36, 40, 42);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
}

.header-lg {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
}

.header-sm {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 7px;
  margin-bottom: 5px;
}

.link {
  color: rgb(51, 214, 141);
  text-decoration: none;
  font-weight: bold;
}

.flex {
  display: flex;
}

.shadowing {
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(136, 152, 159, 0.32);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(136, 152, 159, 0.52);
}

.comment-bg {
  background-color: rgba(128, 128, 128, 0.5);
}

.commentList {
  list-style-type: none;
  margin-top: 5px;
  padding: 10px;
}

.commentText {
  margin-top: 10px;
}

.meta-info-light {
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.meta-info-light a {
    color: black;
}

.meta-info-dark {
  color: rgb(167, 167, 167);
  margin-top: 5px;
  margin-bottom: 5px;
}

.meta-info-dark a {
    color: white;
}

.row {
   display: flex;
   flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.nav-link {
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
   color: inherit;
}

.nav li {
   margin-right: 10px;
}